@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #292524;
}

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --font-serif: var(--font-cinzel), serif;
  --font-cursive: var(--font-alex-brush), cursive;
}

@utility font-cursive {
  font-family: var(--font-alex-brush), cursive !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar elegante para E-Aura */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fdfbf7;
}

::-webkit-scrollbar-thumb {
  background: #c9b596;
  border-radius: 9999px;
  border: 2px solid #fdfbf7;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a5c29;
}

/* Desplazamiento fluido */
html {
  scroll-behavior: smooth;
}